
<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
			<th colspan="2">Category</th>
		</tr>
			</table>
</div>

<div class="actions">
	<%= link_to 'List', admin_categories_path, :class => "action list" %> |
	<%= link_to 'Edit', edit_admin_category_path(@category), :class => "action edit" %> |
	<%= link_to 'Destroy', admin_category_path(@category), :method => :delete, :confirm => "Are you sure?", :class => "action destroy" %>
</div>
